body {
    background-color: black;
    color: white
}

.aid{
    float: left;
    margin: auto;
    text-align: left;
}

div {
    
    Position: static;
    float: inherit;
    width: 30%;
    margin: auto;
    top: 1px;
}
.sticky{
    position: sticky;
}
.right{
    float: right;
}